[submodule "Diffusion/improved-diffusion"]
	path = Diffusion/improved-diffusion
	url = https://github.com/BParvaz/improved-diffusion.git
[submodule "Diffusion/guided-diffusion"]
	path = Diffusion/guided-diffusion
	url = https://github.com/BParvaz/guided-diffusion.git
