-
# Folders
-
data/
# Data is tracked and transferred using git lfs

models/
# Versioning for FER system

logs/
# Logs for CGAN (Jupyter)

Diffusion/img-conversion/fer_images

temp_folder_saves/
# Logs before extensive logging was implemented

-
# Files
-
*.out
*.log
# Slurm stdout and stderr

checkpoint[s]_*
.ipynb_checkpoints/
# CGAN versions

__pycache__/
*.py[cod]
*.egg-info/

Diffusion/classifier_logs_greedy
Diffusion/classifier_logs_intensive
Diffusion/classifier_sample_greedy
Diffusion/guided_logs
Diffusion/guided_logs_intensive
.gitignore
